body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #D6EFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.todo-container {
    width: 480px;
    background: #80AF81;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 33px;
    padding-bottom: 15px;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
}

button {
    padding: 10px 14px;
    background: blue;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #64B5F6;
}

.filter-delete-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-filter {
    background: green;
}

.btn-filter:hover {
    background: #43A047;
}

.btn-delete-all {
    background: red;
}

.btn-delete-all:hover {
    background: #FF3333;
}

.btn-status {
    background: green;
}

.btn-status:hover {
    background: #43A047;
}

.btn-delete {
    background: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-delete:hover {
    background: #FF3333;
}

table {
    width: 100%;
    background: #1A5319;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

th {
    background: #508D4E;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
}

td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.kosong {
    padding: 15px;
    text-align: center;
    color: grey;
    font-size: 14px;
}
